cpSlip.bak
*.bak
*.dep
*.zo
compiled/
benchmarks/input_file.scm
Trace/
benchmarks/Trace/
input_file.scm
*.1
*.2
benchmarks/output *.txt
benchmarks/Benchmarking output/output *.txt
benchmarks/benchmarks/Benchmarking output/output *.txt
benchmarks/input_file_nested.scm
input_file_nested.scm
